<template>
  <div class="card-container">
    <h1 class="app-header">Add new customer page</h1>
    <div class="form-container">
      <form action="" id="new-customer" @submit="checkForm">
        <div class="row">
          <div class="col-50">
            <label for="first-name">First Name</label>
            <input type="text" id="first-name" placeholder="John" v-model="fname" />
            <label for="last-name">Last Name</label>
            <input type="text" id="last-name" placeholder="Doe" v-model="lname" />
            <label for="email">Email</label>
            <input type="text" id="email" placeholder="john@example.com" v-model="email" />
            <label for="phone">Phone</label>
            <input type="text" id="phone" placeholder="555-555-5555" v-model="phone" />
            <label for="company-name">Company Name (Optional)</label>
            <input type="text" id="company-name" v-model="cname" />
          </div>

          <div class="col-50">
            <label for="street-address-1">Street Address Line 1</label>
            <input type="text" id="street-address-1" v-model="sal1" />
            <label for="street-address-2">Street Address Line 2</label>
            <input type="text" id="street-address-2" v-model="sal2" />
            <label for="city">City</label>
            <input type="text" id="city" v-model="city" />
            <label for="country">Country</label>
            <input type="text" id="country" v-model="country" />
            <div class="row">
              <div class="col-50">
                <label for="state-province">State/Province</label>
                <input type="text" id="state-province" v-model="sp" />
              </div>
              <div class="col-50">
                <label for="zip">Zip</label>
                <input type="text" id="zip" v-model="zip" />
              </div>
            </div>
          </div>
        </div>
        <br />
        <input type="submit" value="Add Customer" class="config-btn" />
      </form>
    </div>
    <p v-if="errors.length" class="error-list">
      <b>Please correct these errors:</b>
      <ul>
        <li v-for="error in errors" :key="error"> {{ error }} </li>
      </ul>
    </p>
  </div>
</template>
<script>
export default {
  name: "AddNew",
  data() {
    return {
      errors: [],
      fname: null,
      lname: null,
      email: null,
      phone: null,
      cname: null,
      sal1: null,
      sal2: null,
      city: null,
      country: null,
      sp: null,
      zip: null,
    };
  },
  methods: {
    // validateEmail function taken from https://stackoverflow.com/questions/46155/how-to-validate-an-email-address-in-javascript
    validateEmail: function (emailString) {
      const re =
        /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(String(emailString).toLowerCase());
    },
    // validatePhone function - TODO: add parentheses support
    validatePhone: function (phoneString) {
      const re2 = /^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$/;
      return re2.test(String(phoneString).toLowerCase());
    },
    // add or remove red lines to inputs with incorrect submissions.
    // id: id of element to be styled
    // add: boolean, add or remove styling
    addIncorrectSubmitStyle: function (id, add) {
      let el = document.getElementById(id);
      if (add) {
        el.classList.add("incorrect-submit");
      } else {
        el.classList.remove("incorrect-submit");
      }
    },
    // check if form has correct submission formats.
    checkForm: function (e) {
      this.errors = [];

      // first name
      if (!this.fname) {
        this.errors.push("Please enter a valid first name.");
        this.addIncorrectSubmitStyle("first-name", true);
      } else {
        this.addIncorrectSubmitStyle("first-name", false);
      }

      // last name
      if (!this.lname) {
        this.errors.push("Please enter a valid first name.");
        this.addIncorrectSubmitStyle("last-name", true);
      } else {
        this.addIncorrectSubmitStyle("last-name", false);
      }

      // email
      if (!this.validateEmail(this.email)) {
        this.errors.push("Please enter a valid email.");
        this.addIncorrectSubmitStyle("email", true);
      } else {
        this.addIncorrectSubmitStyle("email", false);
      }

      // phone number
      if (!this.validatePhone(this.phone)) {
        this.errors.push("Plase enter a valid phone number.");
        this.addIncorrectSubmitStyle("phone", true);
      } else {
        this.addIncorrectSubmitStyle("phone", false);
      }

      // street address
      if (!this.sal1) {
        this.errors.push("Please enter a valid street address.");
        this.addIncorrectSubmitStyle("street-address-1", true);
      } else {
        this.addIncorrectSubmitStyle("street-address-1", false);
      }

      // city
      if (!this.city) {
        this.errors.push("Please enter a valid city.");
        this.addIncorrectSubmitStyle("city", true);
      } else {
        this.addIncorrectSubmitStyle("city", false);
      }

      // country
      if (!this.country) {
        this.errors.push("Please enter a valid country.");
        this.addIncorrectSubmitStyle("country", true);
      } else {
        this.addIncorrectSubmitStyle("country", false);
      }

      // state/province
      if (!this.country) {
        this.errors.push("Please enter a valid state/province.");
        this.addIncorrectSubmitStyle("state-province", true);
      } else {
        this.addIncorrectSubmitStyle("state-province", false);
      }

      // zip
      if (!this.zip) {
        this.errors.push("Please enter a valid zip.");
        this.addIncorrectSubmitStyle("zip", true);
      } else {
        this.addIncorrectSubmitStyle("zip", false);
      }

      e.preventDefault();
    },
  },
};
</script>

<style lang="scss" scoped>
.form-container {
  padding: 2rem;
  margin: auto;
  width: 50%;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-50 {
  flex: 50%;
}

label {
  text-align: left;
  display: block;
  margin-bottom: 5px;
}

input[type="file"] {
  margin-bottom: 20px;
}

input[type="text"] {
  width: 100%;
  margin-bottom: 20px;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.error-list {
  list-style-type: none;
}

.incorrect-submit {
  border: 1px solid red;
  box-shadow: 0px 0px 2px 2px red;
}

.config-btn {
  width: 100%;
  background-color: grey;
  border: none;
  border-radius: 3px;
  color: white;
  padding: 12px;

  &:hover {
    background-color: rgb(160, 160, 160);
  }
}
</style>