<template>
  <div class="card-container">
    <h1 class="app-header">This is the customer care page</h1>

    <div class="row">
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Customer Sign-up</h5>
            <router-link to="/application/addnew" class="btn btn-danger">Customer Sign-up</router-link>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Action</h5>
            <router-link to="/about" class="btn btn-danger">Action</router-link>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Action</h5>
            <router-link to="/about" class="btn btn-danger">Action</router-link>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Action</h5>
            <router-link to="/about" class="btn btn-danger">Action</router-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
@import "../../assets/styles/application-generic.scss";

</style>