<template>
  <div class="application">
    <Sidebar @nav="navShown" :style="computedCSS" />
    <div class="application-container">
      <ActionMenu />
      <router-view :style="computedCSS" />
    </div>
  </div>
</template>

<script>
import Sidebar from "../components/Sidebar.vue";
import ActionMenu from "../components/ActionMenu.vue";

export default {
  name: "Application",
  data() {
    return {
      computedCSS: null,
    };
  },
  components: {
    Sidebar,
    ActionMenu,
  },
  methods: {
    // show application menu
    navShown(value) {
      let container;
      let containers = document.getElementsByClassName("action-container");
      if (value) {
        console.log("val: ", value);
        for (container of containers) {
          container.setAttribute("id", "sidebar-active-action-menu");
        }
      } else {
        console.log("val: ", value);
        for (container of containers) {
          container.setAttribute("id", "");
        }
      }
    },
  },
};
</script>

<style lang="scss">
.application {
  background-color: #f7f8fc;
}

.application-container {
  margin-left: 70px;
  transition: all 0.4s ease-in-out;
}
.card-container {
  margin-left: 70px;
  transition: all 0.4s ease-in-out;
}

#sidebar-active-action-menu {
  margin-left: 150px !important;
  margin-right: -150px;
  transition: all 0.4s ease-in-out;
}

.app-header {
  padding-top: 30px;
}
</style>
