<template>
  <div class="card-container">
    <h1 class="app-header">This is the configure page</h1>
    <p>Please select a logo and color pallette to display.</p>

    <div class="form-container">
      <p v-if="errors.length" class="error-list">
        <b>Please correct the following error(s): <p v-for="error in errors" :key="error"> {{ error }} </p></b>

      <form action="" id="pallette-load">
        <h5>Load Saved</h5>
        <div class="input-wrapper">
          <label for="load-pallettes">Saved pallettes:</label>
          <select name="load-pallettes" id="load-pallettes" v-model="selected" @change="loadSaved">
            <option v-for="pallette in pallettes" :key="pallette.name" :value="pallette.name">{{pallette.name}}</option>
          </select>
        </div>
        <!-- <div class="submit-wrapper">
          <input type="submit" value="Save for Later" class="config-btn" style="visibility: hidden"/>
          <input type="submit" value="Apply" class="config-btn" @click="applySelected"/>
        </div> -->
      </form>
      
      <form action="" id="pallette-form">
        <h5>Create New</h5> 
        <div class="input-wrapper">
          <label for="logo-upload">Logo Upload:</label>
          <input type="file" id="logo-upload" />
        </div>
        <div class="input-wrapper">
          <label for="color1">First Color:</label>
          <input type="color" value="#FFFFFF" id="color1" v-model="color1" />
        </div>
        <div class="input-wrapper">
          <label for="color2">Second Color:</label>
          <input type="color" value="#FFFFFF" id="color2" v-model="color2" />
        </div>
        <div class="input-wrapper">
          <label for="color3">Third Color:</label>
          <input type="color" value="#FFFFFF" id="color3" v-model="color3" />
        </div>
        <div class="input-wrapper">
          <label for="palletteName">Pallette Name (required):</label>
          <input type="text" placeholder="" id="palletteName" v-model="palletteName" />
        </div>
        <br />
        <div class="submit-wrapper">
          <input type="submit" value="Reset to default" class="config-btn" @click="resetToDefault"/>
          <input type="submit" value="Apply" class="config-btn" @click="applyPallette"/>
        </div>
        <div class="submit-wrapper">
          <input type="submit" value="Save Pallette" class="config-btn" @click="savePallette"/>
          <input type="submit" value="Apply for all" class="config-btn"/>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  name: "Configure",
  data() {
    return {
      defaultPal: "Red Bison",
      pallettes: [
        {
          name: "Red Bison",
          color1: "#E9000B",
          color2: "#FFFFFF",
          color3: "#FFFFFF",
        },
        {
          name: "Fyrefish",
          color1: "#FF9029",
          color2: "#E629FF",
          color3: "#29A2FF",
        },
      ],
      selected: "",
      palletteName: "",
      errors: [],
      color1: this.$store.getters.getCurrentColor,
      color2: "#FFFFFF",
      color3: "#FFFFFF",
    };
  },
  methods: {
    // add or remove red lines to inputs with incorrect submissions.
    // id: id of element to be styled
    // add: boolean, add or remove styling
    addIncorrectSubmitStyle: function (id, add) {
      let el = document.getElementById(id);
      if (add) {
        el.classList.add("incorrect-submit");
      } else {
        el.classList.remove("incorrect-submit");
      }
    },

    savePallette: function (e) {
      // clear errors on change
      this.errors = [];

      if (!this.palletteName) {
        this.addIncorrectSubmitStyle("palletteName", true);
        this.errors.push("You must name your pallette to save it.");
      } else if (this.pallettes.find((x) => x.name === this.palletteName)) {
        this.addIncorrectSubmitStyle("palletteName", true);
        this.errors.push("A pallette with that name already exists.");
      } else {
        // remove incorrect style on sets
        this.addIncorrectSubmitStyle("palletteName", false);
        this.pallettes.push({
          name: this.palletteName,
          color1: this.color1,
          color2: this.color2,
          color3: this.color3,
        });
      }

      e.preventDefault();
    },

    loadSaved: function (e) {
      let selectedPallette = this.pallettes.find(
        (x) => x.name === this.selected
      );

      this.palletteName = selectedPallette.name;
      this.color1 = selectedPallette.color1;
      this.color2 = selectedPallette.color2;
      this.color3 = selectedPallette.color3;

      e.preventDefault();
    },

    resetToDefault: function (e) {
      // clear errors and make sure styles are gone on sets
      this.errors = [];
      this.addIncorrectSubmitStyle("palletteName", false);

      let defaultPallette = this.pallettes.filter(pal => {
        return pal.name === this.defaultPal;
      });

      this.$store.commit(
        "setCurrentColor",
        this.$store.getters.getDefaultColor
      );
      this.color1 = defaultPallette[0].color1;
      this.color2 = defaultPallette[0].color2;
      this.color3 = defaultPallette[0].color3;
      this.palletteName = defaultPallette[0].name;
      e.preventDefault();
    },

    applyPallette: function (e) {
      this.$store.commit("setCurrentColor", this.color1);
      e.preventDefault();
    },
  },
};
</script>


<style lang="scss" scoped>
@import "../assets/styles/configure.scss";
</style>