<template>
  <div class="home">
    <div id="container">
      <div class="row row-margin">
        <div class="col-sm">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title" >Properties</h5>
              <p class="card-text">One of red bison's applications</p>
              <router-link to="/application/properties" class="fas fa-home fa-3x"></router-link>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title" >Customer Care</h5>
              <p class="card-text">Manage your customers.</p>
              <router-link to="/application/customercare" class="fas fa-camera-retro fa-3x"></router-link>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Products</h5>
              <p class="card-text">One of red bison's applications</p>
              <router-link to="/application/products" class="fas fa-info fa-3x"></router-link>
            </div>
          </div>
        </div>
      </div>
      <div class="row row-margin">
        <div class="col-sm">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Configure</h5>
              <p class="card-text">Customize your experience.</p>
              <router-link to="/application/configure" class="fas fa-comment-dots fa-3x"></router-link>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Users</h5>
              <p class="card-text">One of red bison's applications</p>
              <router-link to="/application/users" class="fas fa-user-circle fa-3x"></router-link>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Add New</h5>
              <p class="card-text">One of red bison's applications</p>
              <router-link to="/application/generic" class="fas fa-plus fa-3x"></router-link>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: "Home",  
};
</script>

<style scoped lang="scss">
.home {
  background-color: #ececec;
}
div#container {
  padding: 20px;
}
.row-margin {
  margin-top: 1em;
}

.card-title {
  color: var(--color);
}

a {
  color: #2c3e50;
  text-decoration: none;
}

a:hover {
  color: var(--color);
  transition: all 0.5s ease-in-out;
}
</style>