<template>
  <div class="card-container">
    <h1 class="app-header">This is the products page</h1>
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Summary Item 1</h5>
            <img src="../assets/chart.jpg" alt="" class="card-img-top" />
            <p class="card-text">
              101010101011101010000101010101110001010101011001
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Summary Item 2</h5>
            <img src="../assets/images.png" alt="" class="card-img-top" />
            <p class="card-text">
              101010101011101010000101010101110001010101011001
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Summary Item 3</h5>
            <img src="../assets/chart.jpg" alt="" class="card-img-top" />
            <p class="card-text">
              101010101011101010000101010101110001010101011001
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Action</h5>
            <router-link to="/about" class="btn btn-danger">Action</router-link>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Action</h5>
            <router-link to="/about" class="btn btn-danger">Action</router-link>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Action</h5>
            <router-link to="/about" class="btn btn-danger">Action</router-link>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Action</h5>
            <router-link to="/about" class="btn btn-danger">Action</router-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>

@import "../assets/styles/application-generic.scss";

</style>