<template>
  <div class="action-container" :class="{'show2': showClicked}">
    <div class="control">
      <i class="fas fa-angle-double-right" @click="showMenu"></i>
    </div>
    <div class="action-icons">
      <i class="fab fa-app-store"></i>
      <i class="far fa-address-card"></i>
      <i class="far fa-calendar-check"></i>
    </div>
    <div class="action-links">
        <transition-group name="fade">
            <div v-show="showActions" key="1">Add</div>
            <div v-show="showActions" key="2">Edit</div>
            <div v-show="showActions" key="3">Delete</div>
        </transition-group>
    </div>
  </div>
</template>

<script>
export default {
  data: () => {
    return {
      showClicked: false,
      showActions: false,
    };
  },
  methods: {
    showMenu() {
      if (this.showClicked) {
        // if action menu is shown, close it
        this.showClicked = false;
        this.showActions = false;
      } else {
        // if action menu is not shown, show it
        this.showClicked = true;
        // timeout in sync with other CSS transitions (0.4s ease-in-out)
        setTimeout(() => {
            this.showActions = true;
        }, 400);
      }
    },
  },
};
</script>


<style lang="scss" scoped>
.action-container {
  background-color: rgb(167, 162, 162);
  position: absolute;
  top: 30;
  width: 70px;
  padding: 15px;
  min-height: 100%;
  height: 100%;
  transition: all 0.4s ease-in-out;
  z-index: 99;

  // arrow for expand
  .control {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    margin-bottom: 0px;

    i {
      font-size: 25px;
      cursor: pointer;
      transition: all 0.4s ease-in-out;
      color: lightgrey;

      &:hover {
        color: white;
      }
    }
  }

  &.show2 {
    width: 150px;

    .control > i {
      transform: rotateZ(-180deg);
    }
  }

  // icons
  .action-icons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 40px;
    float: left;

    i {
      margin-top: 32px;
      margin-bottom: 3px;
      font-size: 25px;
      cursor: pointer;
      transition: all 0.4s ease-in-out;
      color: lightgrey;

      &:hover {
        color: white;
      }
    }
  }

  // links
  .action-links {
      float: left;

      div {
          margin-top: 30px;
          font-size: 20px;
          padding-left: 10px;
          text-align: left;
          cursor: pointer;
          color: lightgrey;

          &:hover {
              color: white;
              transition: all 0.4s ease-in-out;
          }
      }
  }
}
</style>