<template>
  <nav
    class="navbar navbar-expand-lg navbar-light"
    style="background-color: lightgrey"
  >
    <div class="container-fluid">
      <router-link to="/"
        ><img src="../assets/RB-Logo3.png" width="200px"
      /></router-link>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <!-- <li class="nav-item">
            <router-link class="nav-link" to="/about">About</router-link>
          </li> -->
        </ul>
        <div class="d-flex">
          <router-link
            class="fas fa-cog custom-link"
            to="/settings"
          ></router-link>
          <router-link class="btn btn-outline-danger" to="/account"
            >Account</router-link
          >
        </div>
      </div>
    </div>
  </nav>
</template>

<style lang="scss" scoped>
a.custom-link {
  border-style: none;
  background-color: lightgrey;
  font-size: 20px;
  text-decoration: none;
  padding: 10px;
  color: #2c3e50 !important;
}
.btn-outline-danger,
.btn-outline-danger:active,
.btn-outline-danger:visited {
  color: var(--color) !important;
  border-color: var(--color) !important;
}

.btn-outline-danger:hover {
  color: #ffffff !important;
  background-color: var(--color) !important;
  border-color: var(--color) !important;
  transition: all 0.5s ease-in-out;
}

</style>