<template>
  <div class="container" :class="{ show: showSidebar }">
    <!-- expands sidebar -->
    <div class="control">
      <i class="fas fa-angle-double-right" @click="showNav"></i>
    </div>
    <!-- clickable icons for navigation -->
    <div class="navigation-icons">
      <!-- properties -->
      <router-link to="/application/properties"
        ><i
          class="fas fa-home"
          :class="{ selected: selected === 0 }"
          @click="changeSelected(0)"
        ></i
      ></router-link>
      <!-- customer care -->
      <router-link to="/application/customercare"
        ><i
          class="fas fa-camera-retro"
          :class="{ selected: selected === 1 }"
          @click="changeSelected(1)"
        ></i
      ></router-link>
      <!-- products -->
      <router-link to="/application/products"
        ><i
          class="fas fa-info"
          :class="{ selected: selected === 2 }"
          @click="changeSelected(2)"
        ></i
      ></router-link>
      <!-- configure -->
      <router-link to="/application/configure"
        ><i
          class="fas fa-comment-dots"
          :class="{ selected: selected === 3 }"
          @click="changeSelected(3)"
        ></i
      ></router-link>
      <!-- users -->
      <router-link to="/application/users"
        ><i
          class="fas fa-user-circle"
          :class="{ selected: selected === 4 }"
          @click="changeSelected(4)"
        ></i
      ></router-link>
      <div class="select-highlight"></div>
    </div>
    <!-- text links for navigation that appear on control click -->
    <div class="navigation-links">
      <transition-group name="fade">
        <!-- properties -->
        <div v-show="showLink" key="1" @click="changeSelected(0)">
          <router-link
            to="/application/properties"
            :class="{ selected: selected === 0 }"
            class="router-link-active"
            >Properties</router-link
          >
        </div>
        <!-- customer care -->
        <div v-show="showLink" key="2" @click="changeSelected(1)">
          <router-link
            to="/application/customercare"
            :class="{ selected: selected === 1 }"
            class="router-link-active"
            >Customer Care</router-link
          >
        </div>
        <!-- products -->
        <div v-show="showLink" key="3" @click="changeSelected(2)">
          <router-link
            to="/application/products"
            :class="{ selected: selected === 2 }"
            class="router-link-active"
            >Products</router-link
          >
        </div>
        <!-- configure -->
        <div v-show="showLink" key="4" @click="changeSelected(3)">
          <router-link
            to="/application/configure"
            :class="{ selected: selected === 3 }"
            class="router-link-active"
            >Configure</router-link
          >
        </div>
        <!-- users -->
        <div v-show="showLink" key="5" @click="changeSelected(4)">
          <router-link
            to="/application/users"
            :class="{ selected: selected === 4 }"
            class="router-link-active"
            >Users</router-link
          >
        </div>
      </transition-group>
    </div>
  </div>
</template>

<script>
export default {
  data: () => {
    return {
      showSidebar: false,
      showLink: false,
      selected: 0,
    };
  },
  methods: {
    showNav() {
      if (this.showSidebar) {
        // if sidebar is shown, close it
        this.showLink = false;
        this.$emit("nav", false);
        this.showSidebar = false;
        // set highlight width to original on close   // number = .container width -10px
        document.getElementsByClassName("select-highlight")[0].style.width = "60px";
      } else {
        // if sidebar is not shown, show it
        this.showSidebar = true;
        this.$emit("nav", true);
        // set highlight width larger to include text  // number = &.show width -10px
        document.getElementsByClassName("select-highlight")[0].style.width = "210px";
        // timeout in sync with other CSS transitions (0.4s ease-in-out)
        setTimeout(() => {
          this.showLink = true;
        }, 400);
      }
    },
    changeSelected(i) {
      console.log(i);
      this.selected = i;
      // alter selected highlight tab to hover active menu item.
      // first value = item height offset 
      // second value = existing 'select-highlight' 'top' styling.
      document.getElementsByClassName("select-highlight")[0].style.top =
        i * 60 + 60 + "px";
    },
  },
  // for debugging routes
  watch: {
    $route(to, from) {
      console.log("to ", to);
      console.log("from ", from);
    },
  },
};
</script>


<style lang="scss" scoped>
.container {
  background-color: rgb(75, 70, 70);
  position: absolute;
  top: 30;
  left: 0;
  width: 70px;
  padding: 15px;
  min-height: 100%;
  height: 100%;
  transition: all 0.4s ease-in-out;
  z-index: 99;

  // arrow for expand
  .control {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    margin-bottom: 0px;

    i {
      font-size: 25px;
      cursor: pointer;
      transition: all 0.4s ease-in-out;
      color: lightgrey;

      &:hover {
        color: white;
      }
    }
  }

  &.show {
    width: 220px;

    .control > i {
      transform: rotateZ(-180deg);
    }
  }

  // icons 
  .navigation-icons {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 40px;
    float: left;

    i {
      // margin-top: 32 better on localhost
      margin-top: 31px;
      font-size: 25px;
      cursor: pointer;
      transition: all 0.4s ease-in-out;
      color: lightgrey;

      &:hover {
        color: white;
      }

      &.selected {
        color: var(--color);
      }
    }
  }

  // links 
  .navigation-links {
    float: left;

    div {
      margin-top: 30px;
      font-size: 20px;
      padding-left: 10px;
      text-align: left;
      cursor: pointer;
      color: lightgrey;

      &:hover {
        color: white;
        transition: all 0.4s ease-in-out;
      }
      &.selected {
        color: var(--color);
      }
    }
  }
}

.select-highlight {
  position: absolute;
  right: 0px;
  top: 60px;
  height: 46px;
  width: 60px;
  background-color: rgba(255,255,255,0.5);
  border-radius: 5px 0px 0px 5px;
  transition: all 0.4s ease-in-out;
}

.router-link-active {
  text-decoration: none;
  color: lightgrey;

  &:hover {
    color: white;
    transition: all 0.4s ease-in-out;
  }
  &.selected {
    color: var(--color);
  }
}
</style>