<template>
  <div id="app">
    <Navbar :style="computedCSS"/>
    <router-view :style="computedCSS"/>
  </div>
</template>

<script>
import Navbar from "./components/Navbar.vue";

export default {
  name: "App",
  computed: {
    computedCSS() {
      return {
          '--color': this.$store.state.currentColor,
          '--border-color': this.$store.state.currentColor,
      }
    }
  },
  components: {
    Navbar,
  },
};
</script>


<style>
@import url("https://fonts.googleapis.com/css?family=Anton");
@import url("https://use.fontawesome.com/releases/v5.8.2/css/all.css");
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

/* CUSTOM BOOTSTRAP BUTTONS */
.btn-danger,
.btn-danger:active,
.btn-danger:visited {
  color: #2c3e50 !important;
  background-color: #fff !important;
  border-color: #2c3e50 !important;
}

/* .btn-danger:hover {
  color: #ffffff !important;
  background-color: #e9000b !important;
  border-color: #e9000b !important;
} */

html {
  background-color: #f7f8fc;
}

.body {
  position: relative;
}
</style>
