// CSS file for any application page

.row {
  padding: 2em;
}
  
.card-title {
  color: var(--color);
}

.btn-danger:hover {
  color: #ffffff !important;
  background-color: var(--color) !important;
  border-color: var(--color) !important;
  transition: all 0.5s ease-in-out;
}

a {
  color: #2c3e50;
  text-decoration: none;
}