.form-container {
    padding: 2rem;
    //display: flex;
    //flex-wrap: wrap;
    margin: auto;
    width: 50%;
    overflow: auto;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  h5 {
    text-align: left;
    margin-bottom: 20px;
  }

  label {
    text-align: left;
    float: left;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10px;
  }

  select {
    margin-top: 0px;
    width: 40%;
    padding: 8px 16px;
  }
  
  input[type="file"] {
    float: left;
    width: 40%;
    margin-top: 5px;
    margin-left: 5%;
    margin-right: 5%;
  }

  input[type="color"] {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 6px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 3px;
    float: left;
  }

  input[type="text"] {
    width: 40%;
    margin-bottom: 20px;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  .input-wrapper {
    width: 100%;
    float: left;
    margin-bottom: 20px;
  }

  ::-webkit-color-swatch {
    border-color: transparent;
  }

  .color-container {
    width: 100%;
    float: left;
  }


  .error-list {
    list-style-type: none;
    color: red;
  }
  
  .incorrect-submit {
    border: 1px solid red;
    box-shadow: 0px 0px 2px 2px red;
  }

  .submit-wrapper {
    margin-top: 30px;
    margin-bottom: 150px;
  }
  
  .config-btn {
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 5%;
    width: 40%;
    float: left;
    background-color: grey;
    border: none;
    border-radius: 3px;
    color: white;
    padding: 12px;
  
    &:hover {
      background-color: rgb(160, 160, 160);
    }
  }

  #pallette-load {
    width: 100%;
  }

  #pallette-form {
    width: 100%;
  }